.price-title {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.sidebar-title{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.ml{
    margin-left: 20px;
}