.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 18rem;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
}
.card-img {
  width: 13rem;
  margin-bottom: 1rem;
  min-width: 12rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.ratings-star {
  color: #d5ab55;
}

.total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bag-icon {
    color: #535353;
}